body {
    font-family: Arial, sans-serif;
    background-image: url(img/bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgb(186, 255, 248);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.hidden {
    display: none;
}